<ion-header>
  <ion-toolbar color="primary">    
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title text-capitalize> Eventos </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of events">
      <ion-card>
        <ion-card-header>
          <ion-card-title>            
            <span>{{ item.eventDate }}</span>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>


</ion-content>