.list-event {

    ion-card-header {
        padding: 0px;
        margin: 0px 0px 15px 0px;

        ion-item {
            display: flex;
            padding: 4px;
            align-items: center;

            ion-label {
                margin-left: 10px;
            }
        }
    }
}