<app-header [titulo]="titulo" [defaultHref]="'/bands'"></app-header>

<ion-content [fullscreen]="true">
  <div class="searchbar">
    <ion-searchbar debounce="500" [(ngModel)]="queryText"
                    (ionInput) = "searchLike($event)"
                    clearInput>
    
    </ion-searchbar>
  </div>

  <search-members [users]="users" [bandId]="bandId"></search-members>

  <div class="list_members">
    <ion-list>
      <app-list-skeleton [items]="members"></app-list-skeleton>
        <ion-item *ngFor="let item of members">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>{{ item.name }}</ion-label>
                    </ion-col>
                    <ion-col *ngIf="item.voiceName">
                        <ion-label>
                            <ion-badge color="primary" slot="start">{{ item.voiceName }}</ion-badge>
                        </ion-label>
                    </ion-col>
                    <ion-col *ngIf="item.intrumentName">
                        <ion-label>
                            <ion-badge color="primary" slot="start">{{ item.intrumentName }}</ion-badge>
                        </ion-label>
                    </ion-col>
                    <ion-col *ngIf="(item.leader === 'S')">
                        <ion-label class="p-leader">
                            <ion-icon slot="end" name="musical-note-outline"></ion-icon>
                            <span>Lider</span>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>

          <div class="button-menu">
            <button  color="primary"  [matMenuTriggerFor]="menu" (click)="$event.preventDefault()" >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" id="btn-menu" xPosition="before" overlapTrigger="false">               
              <button id="btn-delete" mat-menu-item (click)="deletMember(item)">
                <mat-icon>delete</mat-icon>
                <span>Desassociar</span>
              </button>
            </mat-menu>
          </div>
        </ion-item>
    </ion-list>
  </div>
  <div class="list-repertorio">
    <div class="title">
      <span>Repertório</span>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of repertorios">
        <ion-label>{{item.name}}</ion-label>
        <ion-label>{{item.autor}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
