.button-menu-header {
    display: flex;
    align-items: center;

    ion-title {
        display: flex;
        margin-left: 2rem;
    }
}

.searchbar {
    margin: 5px 0px 5px 0px;
}

.list_members {
    ion-item {
        .p-leader {
            ion-icon {
                font-size: 1rem;
            }
            span {
                font-weight: 500;
                font-size: 1rem;
                color: red;
            }
        }
    
        .item {
            width: 100vw;
            span {
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
        .button-menu {
            margin: 0px -4px;
    
            button {
                background: white;
            }
        }
    }
}

.list-repertorio {
    .title {
        background: blue;
        height: 4vh;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-size: 1rem;
            font-weight: 500;
            color: white;
        }
    }
}

.span-text {
    background: #3880FF;
    margin: 0px 0px 0px 0px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 1rem;
        font-weight: 500;
    }
}